.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 90%;
    height: 90%;
  
}
.wrapperTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperTitle h1{
    font-size: 1.2rem;
    font-weight: 500;
    color:#49724A;
}