.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.wrapper{
    width: 90%;
    height: 80%;
  
}
.wrapperTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperTitle h1{
    font-size: 1.5rem;
    font-weight: bold;
    color:#49724A;
}
.wrapperInfo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {
    .container{
        margin-top: 4rem;
    }
    .wrapper{
        height: 100%;
    }   
    .wrapperTitle h1{
        margin-bottom: 1rem;
    }
}