.container{
    height: 100dvh;
    width: 5rem;
    min-width: 5rem;

    background: linear-gradient(180deg, #445247 0%, #182b1b 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    flex-direction: column;
}

.wrapper{
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
 
    
}
.pages{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ffffff;
    border-radius: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px #000000;
    cursor:pointer;
    transition: 0.1s all ease-in;
    margin-bottom: 1.5rem;

    &:hover{
        transform: scale(1.10);
    }
}

.wrapperPages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoDiv{
    width: 90%;
    height: 3.5rem;
    height: auto;
    margin-bottom:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: 0.1s all ease-in;
    
    &:hover{
        transform: scale(1.05);
    }
}



.logout{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #9e0303;
    border-radius: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0px #000000;
    cursor:pointer;
    transition: 0.1s all ease-in;
    

    &:hover{
        transform: scale(1.10);
    }
}


.iconPage{
    font-size:1.2rem;
    color: #3b5737;
    font-weight: bold;
}
.iconPageLogout{
    font-size:1.2rem;
    color: #eee;
    font-weight: bold;
}


.loadingContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px) {

    .pages{
        width: 3.5rem;
        height: 3.5rem;
    }
    .iconPage{
        font-size:1rem;
    }
    .logout{
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media screen and (max-width:1280px) {
    .pages{
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 1rem;
    }
    .logout{
        border-radius: 1rem;
        width: 3.2rem;
        height: 3.2rem;
    }
}