.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: #00000073 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-height:450px ;
  min-height:450px ;
}

.wrapperInputs {
  width: 85%;
  display: flex;
  flex-direction: column;


}

.divInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}


.divCreated {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.divCreated label:nth-child(1) {
  font-weight: bold;
}

.formLabel {
  color: #000;
  
}



.customModal {
  max-width:300px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.lbl2 {
  color: #49724a;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.formInput {
  width: 100%;
  height: 50px;
  padding-left: 0.5rem;
  border: none;
  margin-top: 1rem;
  background-color: #efefef;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.1s all ease-in;
  box-shadow: 0px 3px 3px 0px #7aa174;
}

.formInput::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1; /* Firefox */
}

.formInput::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgba(0, 0, 0, 0.4);
}

.formButton {
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 50px;
  background-color: #2b4e30;
  color: #fff;
  border: none;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  transition: 0.1s all ease-in;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divLabel {
  width: 100%;
}
.formButton:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px #7aa174;

  outline: none;
}

@media screen and (max-width:1400px) {
  .divInputs{
    margin-bottom: 1rem;
   
  }
  .divCreated{
    margin-bottom: 1rem;
  }
}

@media screen and (min-width:1875px) {
  .wrapper{
      min-height: 600px;
      max-height: 600px;
  }
}

