
/* TELA DE CARREGAMENTO */
.loadingContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    
}

.wrapper{
    width: 90%;
    max-width: 90%;

    height: 90%;
    min-height: 90%;
    max-height: 90%;
    box-shadow: #04040473 0px 8px 24px;
    border-radius: 24px;
    padding:2rem;
    position: relative;
    

}


/* GRAFICOS */

.containerDashboard{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
}
.graficosColunaUm{
    display: flex;
    width: 100%;
    height: 50%;   
}
.graficosColunaDois{
    display: flex;
    width: 100%;
    height: 50%;  
}

.graficoPizza{
    width: 300px;
    height: 300px;
}
.graficoBarra{
    width:600px;
    margin-left: 5rem;
}

.gridEsg{
    height: 100%;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1300px) {
    .graficoBarra{
        width: 450px;
        margin-left: 5rem;
    }
    .graficoPizza{
        width: 260px;
        height: 260px;
    }
    .gridEsg{
        margin-top: 1rem;
    }
    .wrapper{
        padding: 1rem;
    }
}
